






































































































# Kernel module compiled files
*.o
*.ko
*.mod
*.mod.c
*.symvers
modules.order
Module.symvers

# Temporary build files and artifacts
.*.cmd
*.swp

# User-space executables
# Add the names of your compiled user-space apps here
user/cli/read_app
user/cli/cli_test

# Editor and IDE configuration folders
.vscode/





















































